@font-face {
    font-family: 'Cursif';
    src: url('Cursif.woff2') format('woff2'),
        url('Cursif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1 {
    background-color: lightblue;
    color: blue;
    font-family:'Trebuchet MS', sans-serif;
    font:bold;
    width: fit-content;

    padding:10px;
    border:solid 1px black;
    margin: 20px;
    text-align: center;
    align-items: center;
    text-shadow: 2px 3px 5px grey;
}
h2 {
    background-color: yellow;
    color: red;
    font-family: 'Cursif', sans-serif;
    font:italic;

    padding:10px;
    width: fit-content;
    border:solid 1px black;
    margin: 20px;
    text-align: center;
    align-items: center;
    text-shadow: 2px 3px 5px grey;
}
button{
    align-items: center;
    margin: 5px;
}
#content{
    font-family: 'Cursif';
}