
@font-face {
    font-family: 'Cursif';
    src: url('Cursif.woff2') format('woff2'),
        url('Cursif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1, h2 {
    background-color: crimson;
    border:double 5px black;
    text-align: center;
    align-items: center;
    text-shadow:5px 10px 10px black;
    width:page;
    height: fit-content;

}
body{
    background-color: aqua;
}
h1 {
    color: white;
    font-family:'Alegreya', sans-serif;
    font-size:50px;
}
h2 {
    color: white;
    font-family: 'Cursif', sans-serif;
    font-size:20px;
}
button{
    font-family:'Alegreya', sans-serif;
    align-items: center;
    margin: 5px;
}
.pageContent{
    font-family:'Alegreya', sans-serif;
    font-size: 16px;
    margin:5px;
}
#content{
    font-family: 'Alegreya', monospace;
    font-size: 16px;
}
.red{
    color: red;
    text-shadow:5px 10px 10px red;
}
.blue{
    color: blue;
    text-shadow:5px 10px 10px blue;
}
.newLayout{
    font-family: 'Cursif', sans-serif;
    text-decoration-color: black;
    background-color: transparent;
    color: white;
    text-rendering: optimizeSpeed;
}