h2{
    padding:10px;
    color: white;
    width: 500px;
    border:solid 1px grey;
    margin: 20px;
    text-align: center;
}
#txt{
    background-color: lightblue;
    padding:10px;
    color: black;
    width: 500px;
    border:solid 1px black;
    margin: 20px;
    text-align: justify;
}
#box{
    background-color: lightgrey;
    padding:10px;
    color: black;
    width: 500px;
    border:solid 1px black;
    text-align: justify;
    display: flex; 
    flex-direction: column;
    align-items: center;

}