
@font-face {
    font-family: 'Cursif';
    src: url('Cursif.woff2') format('woff2'),
        url('Cursif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1, h2 {
    background-color: crimson;
    border:double 5px black;
    text-align: center;
    align-items: center;
    text-shadow:5px 10px 10px black;
    width:page;
    height: fit-content;

}
body{
    background-color: aqua;
    font-family:'Alegreya', sans-serif;
}
u {
    text-decoration: none;
}
h1 {
    color: white;
    font-family:'Alegreya', sans-serif;
    font-size:50px;
}
h2 {
    color: white;
    font-family: 'Cursif', sans-serif;
    font-size:20px;
}
#app{
    font-family:'Alegreya', sans-serif;
    font-size: 16px;
    margin:5px;
}
#game{
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}
.red{
    color: red;
    text-shadow:5px 10px 10px color-mix(in srgb, red 25%, black 75%);
}
.blue{
    color: blue;
    text-shadow:5px 10px 10px darkblue;
}
.newLayout{
    flex-wrap: wrap-reverse;
}

img{
    display: none;
    width: auto;
    height: 100px;
    margin-top: 20px;
}